@import url(https://fonts.googleapis.com/css?family=Roboto);
html{
    background-color: #F8F5F0;
}
h1,h4{
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;
  text-align: center;
  margin: 3px;
}
h4{
  color: #A7A09D;
}
p{
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
}
.app-container{
  max-width: 600px;
  margin-top: 50px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  justify-content: center;
}

.input-form{
  margin-top: 10px;
  display:  flex;
  justify-content: center;
  flex-direction: column;
}

.input-card{
  background-color: #fff;
  padding: 15px 30px;
  margin-bottom: 2px;
  display: flex;
  justify-content: center;
  align-content: center;
}

.input-card.col{
  flex-direction: column;
}

.input-form select,
.input-form button,
.input-form input {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  border-radius: 4px;
  width: 100%;
  padding: 10px;
}

.input-form select,
.input-form input {
  background-color: #F8F5F0;
  border: 2px #A7A09D solid;

}
select{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance:none;
    text-indent: 1px;
    text-overflow: '';
}
button {
  outline: 0;
  border-style: none;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 10px;
  color:#A7A09D;
  background-color: #fff;

}

.active{
  background-color: #58CA58;
  color: #fff;
  border-radius: 50px !important;
}
.submit{
  background-color: #58CA58;
  color: #fff;

}
.submit:active{
  background-color: #48bA48 !important;
}


.input-form button:disabled {
  background-color: #fee;
  text-decoration: line-through;
}

.ace-editor{
  height: 100% !important;
  width: 100% !important;
  max-height: 250px;
  border: 2px #A7A09D solid;
  border-radius: 2px;
  background-color: #F8F5F0 !important;
  margin-bottom: 10px;
}
.error-message{
  background-color: #fee;
  margin: auto;
  text-align: center;

}
.ticker {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  margin: auto;
  padding-bottom: 20px;
}
.ticker div{
  background-color: #fefefe;
  width: 100%
  border: 1px #aaa solid;
  padding: 5px 20px;
  margin-bottom: 5px;
}
.ticker div pre{
  margin: 0;
}
